// app global css in SCSS form
@use 'quasar.variables' as v;
.vuecal__dark-blue-theme {
    .vuecal__menu, .vuecal__cell-events-count {background-color: v.$primary;}
    .vuecal__title-bar {background-color: #3181d1; color: whitesmoke!important;}
    .vuecal__cell--today, .vuecal__cell--current {background-color: rgba(240, 240, 255, 0.4);}
    .vuecal:not(.vuecal--day-view) .vuecal__cell--selected {background-color: rgba(101, 176, 247, 0.4);}
    .vuecal__cell--selected:before {border-color:  v.$primary;}
    /* Cells and buttons get highlighted when an event is dragged over it. */
    .vuecal__cell--highlighted:not(.vuecal__cell--has-splits),
    .vuecal__cell-split--highlighted {background-color: rgba(101, 176, 247, 0.4);}
    .vuecal__arrow.vuecal__arrow--highlighted,
    .vuecal__view-btn.vuecal__view-btn--highlighted {background-color: rgba(101, 176, 247, 0.4);}
    .vuecal__disable-pointer{pointer-events: none;}
}